# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
.next/
coverage/

# Environment variables
.env
.env.*

# Docker
*.local
Dockerfile*
docker-compose*

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Misc
*.swp
*.swo
.idea/
.vscode/

# Dependency directories
backend/node_modules/
frontend/node_modules/

# Output directories
backend/dist/
frontend/.next/
frontend/out/